* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #222831, #393e46, #ffd369);
    background-size: 250%, 250%;
    animation: colors 15s ease infinite;
    flex-direction: column;
    overflow: auto;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.meuNome {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    padding: 1rem 2rem;
}

.info {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    flex-wrap: wrap;
}

p {
    display: flex;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 25px #fff;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 1rem 4rem;
    margin: 0.5rem;
}

p:hover {
    transition: color 0.6s;
    background-color: hsla(42.4,100%,70.6%);
    color: black;
}


a {
    text-decoration: none;
}

